# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env
.env.*

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Uploads
uploads/

# Node
node_modules/

# Build
dist/
build/